:host {
  display: block;
}

.board {
  width: 80%;
  margin: 0 auto;
}
table {
  width: 100%;
  font-size: 12rem;
}

td {
  text-align: center;
  border: 1px solid black;
  width: 1em;
  height: 1.2em;
}

.winner {
  font-weight: bolder;
  font-size: 2rem;
}
